<div *ngIf="loading">Fetching data...</div>
<div class="container mt-2">
  <ul *ngIf="!loading" class="list-group">
    <a *ngFor="let pokemon of pokemonList" class="list-group-item list-group-item-action" [routerLink]="['/details', pokemon.name]">
      {{ pokemon.name }}
    </a>
  </ul>
  <div class="d-flex justify-content-end">
    <nav class='mt-3'>
      <ul class="pagination">
        <li class="page-item">
          <a class="page-link" href="#" (click)="movePage(-1)" [ngClass]="{disabled: current_page <= 1}">Previous</a>
        </li>
        <li class="page-item disabled" aria-current="page">
          <a class="page-link" href="#">{{current_page}}</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#" (click)="movePage(1)" [ngClass]="{disabled: current_page >= 66}">Next</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
