{% extends "base.html" %}

{% block content %}
  <div class="container mt-2">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <form method="POST">
          <h3>Add a new post</h3>
          {% csrf_token %}
          <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" class="form-control" id="title" name="title" required>
          </div>
          <div class="mb-3">
            <label for="content" class="form-label">Content</label>
            <textarea class="form-control" id="content" name="content" rows="3" required></textarea>
          </div>
          <div class='text-end'>
            <button type="submit" class="btn btn-primary">Add</button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock content %}