{% extends "base.html" %}

{% block content %}
  <div class="container mt-3">
    {% if messages %}
      {% for message in messages %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
          <div class="alert alert-success alert-dismissible" role="alert">
            <strong>Success!</strong> {{message}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        {% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
          <div class="alert alert-danger alert-dismissible" role="alert">
            <strong>Error!</strong> {{message}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        {% endif %}
      {% endfor %}
    {% endif %}

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      {% for post in posts %}
        <div class="col">
          <div class="card shadow-sm">
            <div class="card-body">
              <h5 class="card-title">{{ post.title }}</h5>
              <h6 class="card-subtitle mb-2 text-body-secondary">Created by {{ post.user }} at {{ post.created_at }}</h6>
              <p class="card-text">{{ post.content }}</p>
              <a href="edit/{{ post.id }}" class="btn btn-primary {% if post.user != user %} disabled {% endif %}">Edit</a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock content %}